@import "../../../../App/variables.sass"

.button-filter
    margin-left: 30px

.button-filter-input
    background-color: transparent
    color: $font-color

.button-filter-active
    color: $selected-color

.button-filter-input:disabled
    color: $disabled-font-color