@font-face 
    font-family: 'test'
    src: url(../../../assets/FOT-SeuratProB.otf) format(opentype)

$secondary-color: #FFF8E5

// nav
//     font: "test"
//     background-color: $secondary-color
    
.nav-link
    text-decoration: none
  