@import "../../../App/variables"
    
#filters
    position: relative

#side-filters
    width: 300px
    position: absolute
    right: 20px
    background-color: $foreground-color
    padding: 20px
    border-radius: 30px