@import "../../../App/variables"
    
#filters
    position: relative

#side-filters
    width: 300px
    position: absolute
    right: calc(100% - 100vw)
    background-color: $foreground-color
    border-radius: 30px
    padding: 20px
    margin-right: 40px