@import "../../../App/variables"

#exhibit-list
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $foreground-color
    border-radius: 50px
    width: 100%
    margin-bottom: 30px

@media #{$large-screen-size}
    #exhibit-list
        margin-top: 20px