@import "../../../../App/variables"

.exhibit-list-item-container
    margin-left: 30px
    border: 
        width: 0 0 1px 0 
        style: solid 
        color: $font-color

.exhibit-list-item-inner-container
    display: flex
    align-items: center
    justify-content: space-between
    height: 70px
    cursor: pointer

.exhibit-list-item
    display: flex
    align-items: center
    height: 70px

.owl-icon
    width: 25px

.exhibit-list-item-image
    width: 60px
    margin-right: 5px

.exhibit-dropdown-arrow
    margin-right: 40px

.critter-dropdown
    display: flex
    flex-direction: column
    margin-bottom: 10px

.critter-dropdown span
    margin: 5px 0

.bells-icon
    width: 16px

@media #{$smallest-screen-size}
    .exhibit-list-item
        font-size: 14px
        height: 55px

    .exhibit-list-item-image
        width: 50px